body{
width: 100%;
height: 100%;
margin-top: 0px; margin-left: 0px;
margin-bottom: 0px; 
background: white;
}
  
 

   
@font-face{
 src: url("fonts/CodaR.ttf");   
 font-family:font;
    
}
@font-face{
 src: url("fonts/nb.ttf");   
 font-family:font2;
}
@font-face{
 src: url("fonts/The27.ttf");   
 font-family:font3;
}

@font-face{
 src: url("fonts/Cosmix.ttf");   
 font-family:font4;
}

@font-face{
 src: url("fonts/DINB.otf");   
 font-family:font5;
}

@font-face{
 src: url("fonts/Woodwork.ttf");   
 font-family:font6;
}

@font-face{
 src: url("fonts/Autumn.ttf");   
 font-family:font7;
}

@font-face{
 src: url("fonts/Eutemia.ttf");   
 font-family:font8;
}


@font-face{
 src: url("fonts/JosefinSR.ttf");   
 font-family:font9;
}

@font-face{
 src: url("fonts/Tabloid.ttf");   
 font-family:font10;
}
@font-face{
 src: url("fonts/HelveticaBold.ttf");   
 font-family:font11;
}
@font-face{
 src: url("fonts/abelr.ttf");   
 font-family:font12;
}









.transparentlink{
    color: inherit; display: inline;
    text-decoration: none; text-decoration-line: none;
}
.transparentlink.coverbglink{
    
}
br5{
    display: block;
    height: 5px;
}    
br10{
    display: block;
    height: 10px;
}    

brk{
    display: block;
    height: 3px;
}




[hideme]{
    display: none;
}



